.navigation{
  display: flex;
  align-items: center;
  width: 100vw;
  color: rgb(196, 193, 193);
}
.navigation .phone{
  display: none;
}
.navigation .visible{
  display: flex;
}
.navigation h1{
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}
.navigation p{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  font-size: 0.7em;
  margin-left: 0.5vw;
}
.navigation .second{
  display: inline-flex;
  margin-left: 3vw;
}
.navigation .form{
  display:  flex;
}
.navigation input::placeholder{
  font-size: 0.8em;
  color: rgba(79, 177, 201, 0.966);
}
.navigation input{
  width: 20vw;
  height: 5vh;
  border-radius: 20px;
  background-color: white;
  position: absolute;
}
.navigation svg{
  width: 2vw;
  height: 4.5vh;
}

.navigation .btn-search{
  margin-left: 17vw;
  width: 2.5vw;
  height: 5vh;
  padding: 1px;
  border-radius: 50%;
  background-color: rgba(79, 177, 201, 0.966);
}
.navigation .tird{
  display: flex;
  margin-left: 16vw;
}
.navigation .icon{
 margin-left: 1vw;
}

.navigation select{
  background: none;
  color: rgb(196, 193, 193);
}

.navigation .let{
  margin: 4px;
  border: 2px solid  rgb(196, 193, 193);
  border-radius: 50%;
}

.navigation .groupe{
  width: 3vw;
  margin-left: 4vw;
}

.navigation .let-user{

  padding: 1px;
  background: black;
}
@media screen and (max-width:1000px){
  .navigation{
    display: none;
    justify-content: space-between;
  }
  .navigation input{
    width: 30vw;
    height: 5vh;
    
  }
  .navigation svg{
    width: 4vw;
    height: 4.5vh;
  }
  
  .navigation .btn-search{
    width: 3vw;
    margin-left: 24vw;
    padding: 0;

  }
 
 
  .phone{
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: rgba(79, 177, 201, 0.966);
    border: 0;
    margin: 0;
    overflow: visible; 
  }
  .phone:hover{
    opacity: 0.7;
  }
  .phone-box{
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; 
  }
  .phone-inner{
    display: block;
    top: 50%;
    margin-top: -2px;
  }
  .phone-inner, .phone-inner::before, .phone-inner::after {
    width: 40px;
    height: 4px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; 
  }
  .phone-inner::before, .phone-inner::after {
    content: "";
    display: block; 
  }
  .phone-inner::before {
    top: -10px; 
  }
  .phone-inner::after {
    bottom: -10px; 
  }
  .button{
    background: none ;
  }
    
}